In [ ]:
#Assignment 2 (may 6)

#1) Write a program to find last digit of a number

In [ ]:
n = 123
b = n%10
print ("The last digit is " ,b)

The last digit is  3

#2) Write a program to check criteria of the student according to %

Marks GRADE
90 marks A

<80 and >=90 marks B

<60 and <= 80 marks C

Below 60 Failed

In [ ]:
mark = 81
if mark >= 90:
    grade = "A"
elif mark >= 80 and mark < 90:
    grade = "B"
elif mark >= 60 and mark < 80:
    grade = "C"
else:
    grade = "Failed"

print("The student's grade:", grade)

The student's grade: B

3) Write a program to take input between 1-12 and print which month of the year is it?

Hint) 1 is January

In [ ]:
month = 10

if month == 1:
  print ("January")
elif month == 2:
    print ("February")
elif month == 3:
    print ("March")
elif month == 4:
   print ("April")
elif month == 5:
   print ("May")
elif month == 6:
   print ("June")
elif month == 7:
    print ("July")
elif month == 8:
    print ("August")
elif month == 9:
    print ("September")
elif month == 10:
    print ("October")
elif month == 11:
    print ("November")
elif month == 12:
    print ("December")
else:
    print("Invalid input. Please enter a number between 1 and 12.")
    exit()

October

In [ ]:
#4. Write a program to take input between 1-7 and print which day of week it is
#Hint)  1 is Sunday

day_num = 8

if day_num == 1:
  print("Sunday")
elif day_num == 2:
  print("Monday")
elif day_num == 3:
  print("Tuesday")
elif day_num == 4:
  print("Wednesday")
elif day_num == 5:
  print("Thursday")
elif day_num == 6:
  print("Friday")
elif day_num == 7:
  print("Saturday")
else:
    print("Invalid. Please enter a number between 1 and 7.")
    exit()

Invalid. Please enter a number between 1 and 7.

In [ ]:
# #5. Check which number is greatest and smallest?    A= 82   B=76   C=51  D=42


A = 82
B = 76
C = 51
D = 42


gr = max(A, B, C, D)
sm = min(A, B, C, D)


print("The greatest value is", gr)
print("The smallest value is", sm)

The greatest value is 82
The smallest value is 42

In [ ]:
# 6) Check if a person is senior citizen or NO?

age = int(input("Enter your age: "))

citizen_age = 60

# Check if the person is a senior citizen or not
if age >= citizen_age:
    print("Congratulations! You are a senior citizen.")
else:
  print("Sorry, you are not a senior citizen yet.")

Enter your age: 59
Sorry, you are not a senior citizen yet.

In [ ]:
#7) Check if a number is positive or negative
num = 0

if num > 0:
    print("The number is positive.")
elif num == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

The number is zero.

In [ ]:
#8) Check if a number is divisible by both 2 and 3

num = 6
if num % 2 ==0 and num % 3 == 0:
  print ("Divisible by both 2 and 3")

else:
  print ( "not divisible by 2 and 3")

Divisible by both 2 and 3

In [ ]:
#9) Check if a character entered is a vowel or not
lst1 = ['a','e','i','o','u']
character = (input("enter your character:"))
if character in lst1:
  print( "YES it is Vowel")
else:
  print("Not Vowel")

enter your character:1
Not Vowel

In [ ]:
# 10) Tell which person is the youngest and oldest : Messi=82   Ronaldo=91  Ronaldino=62   Neymar=51

messi_age = 82
ronaldo_age = 91
ronaldino_age = 62
neymar_age = 51

# Creating a list
ages = [messi_age, ronaldo_age, ronaldino_age, neymar_age]


youngest = min(ages)
oldest = max(ages)

print("The youngest person is", youngest, "years old.")
print("The oldest person is", oldest, "years old.")

The youngest person is 51 years old.
The oldest person is 91 years old.

In [ ]:
# ASSIGNMENT 3

#1) Calculate the sum of all numbers from 1 to a given number
def sum_of_numbers(n):
    return (n * (n + 1)) // 2


given_number = 50
sum_result = sum_of_numbers(given_number)
print("The sum of numbers from 1 to", given_number, "is:", sum_result)

The sum of numbers from 1 to 50 is: 1275

In [ ]:
# 2) Write a program to print multiplication table of a given number
def mult_t(n):
    for i in range(1, 11):
        print(n, "x", i, "=", n * i)


given_number = 7
mult_t (given_number)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#3) Count the total number of digits in a number

def count_digits(n):
    count = 0
    while n != 0:
        count += 1
        n //= 10
    return count


g_number = 12345678
digit_count = count_digits(g_number)
print("The total number of digits in", g_number, "is:", digit_count)

The total number of digits in 12345678 is: 8

In [ ]:
#4) Reverse a given integer number
def reverse_number(n):
    reversed_num = 0
    while n != 0:
        digit = n % 10
        reversed_num = reversed_num * 10 + digit
        n //= 10
    return reversed_num

g_num = 123456
reversed_num = reverse_number(g_num)
print("The reverse of", given_number, "is:", reversed_num)

The reverse of 7 is: 654321

In [ ]:

#5) Calculate the cube of all numbers from 1 to a given number

def cube_n(n):
    for i in range(1, n+1):
        print("The cube of", i, "is:", i**3)


g_num = 10
cube_n(given_number)

The cube of 1 is: 1
The cube of 2 is: 8
The cube of 3 is: 27
The cube of 4 is: 64
The cube of 5 is: 125
The cube of 6 is: 216
The cube of 7 is: 343
The cube of 8 is: 512
The cube of 9 is: 729
The cube of 10 is: 1000